.idea
website/nohup.out
website/node_modules
website/package-lock.json
microbit/yotta_modules
!/microbit/yotta_modules/microbit-dal/inc/drivers/MicroBitRadio.h
microbit/yotta_targets
microbit/build
.vscode
microbit/.vscode
microbit/source/.vscode
microbit/.vscode

*.Rhistory
*.pyc
*.pyo
*.o
radio_simulator/mock_microbit/Protocol.h
radio_simulator/mock_microbit/NomeshProtocol.cpp
radio_simulator/mock_microbit/MeshProtocol.cpp
radio_simulator/mock_microbit/DynamicMeshProtocol.cpp
radio_simulator/mock_microbit/Encryption.h
radio_simulator/mock_microbit/Encryption.cpp
radio_simulator/mock_microbit/mock_nomesh
radio_simulator/mock_microbit/mock_mesh
radio_simulator/mock_microbit/mock_dynamic
radio_simulator/__pycache__

.nfs*
